.navbar {
    background: #176498;
    color: whitesmoke;
}

.philips-logo {
    height: 25px;
}

.navbar-brand {
    color: whitesmoke;
  }
  
  .btn {
    color: whitesmoke;
  }
  
  .btn:hover {
    background-color:  salmon;
    color: white;
  }
  
  .btn-outline-success {
    color: salmon;
    border-color: salmon;
  }
  
  .fa-lg {
    color: white;
  }
  
  .login: hover {
    color: salmon;
  }